+++
title = "Privacy Policy of BibleMulti.org"
date = "2025-03-01"
category = "resources"
+++

<h2>Your privacy is critically important to us.</h2>
<p>The main developer (hotlittlewhitedog) of BibleMulti.org is located in Belgium.</p><br>

<h3>Data safety</h3>
The main developer says that this web site doesn't collect or share any user data.<br>

<h3>No data shared with third parties</h3>
The main developer says that this web site doesn't share user data with other companies or organisations.<br>

<h3>No data collected</h3>
The main developer says that this web site doesn’t collect user data.<br>

<h3>Transparency</h3>
The source code used to compile this web site is available on Gitlab at <a href="https://gitlab.com/hotlittlewhitedog/BibleMulti">following address</a>.<br><br>

<h2>Links To External Sites</h2>
<p>Our Service may contain links to external sites that are not operated by us. If you click on a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy and terms and conditions of every site you visit.</p>
<p>We have no control over, and assume no responsibility for the content, privacy policies or practices of any third party sites, products or services.</p>
<br>

<h2>Credit & Contact Information</h2>
<p>If you have any questions about this Privacy Policy, please contact us via <a href="mailto:hotlittlewhitedog@gmail.com">email</a>.</p>
