<br><br>
{{ if in .Params.type "homepage" }}
    {{ if .IsTranslated }}
        {{ range .AllTranslations }}
            <a href="{{ .RelPermalink }}">{{ .Language.Params.displayName | emojify }}</a>
        {{ end }}
    {{ end }}
{{ end }}
